# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# dumpfile
trace.log
dump.txt

# repo compliance test
tests/riscv-arch-test.v2
tests/riscv-arch-test.v3
tests/riscof_work
tests/rv32rtl-config.ini
tests/rvsim-config.ini
tests/rv32rtl/__pycache__
tests/rvsim/__pycache__
tests/spike/__pycache__

.DS_Store
tools/rvsim
tools/mini-gdbstub
sim/sim
sim/sim_cc
*.dis
*.symbol
*.elf
default.ld
